body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.p1{
    color: #f70707;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.upload-button {
    text-align: center;
    margin-top: 16px;
}

.upload-button label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-button label:hover {
    background-color: #2980b9;
}

.upload-button input[type="file"] {
    display: none;
}
